@use "../abstracts" as *;

.container {
  margin: 0 auto;
  padding: rem(24);
  max-width: rem(500);
  overflow: hidden;

  @include breakpoint-up("tiny") {
    position: relative;
    margin: 0;
    padding: rem(50) rem(39);
    max-width: rem(635);
    overflow: visible;
  }

  @include breakpoint-up("very-small") {
    background: url("../images/desktop/image-host.jpg") no-repeat top
      right;
    padding: 0 0 0 rem(39);
    max-width: rem(1275);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -#{rem(42)};
      background: url("../icons/bg-pattern-dots.svg") no-repeat center
        center/100%;
      width: rem(232);
      height: rem(104);
    }
  }

  @include breakpoint-up("small") {
    padding: 0;
  }

  @include breakpoint-up("medium") {
    margin: 0 auto;
  }
}
