@use "../abstracts" as *;

.header {
  display: flex;
  justify-content: center;
  padding: rem(64) 0;

  @include breakpoint-up("tiny") {
    justify-content: flex-start;
    padding: 0;
  }

  @include breakpoint-up("very-small") {
    position: relative;
    top: -#{rem(67.5)};
  }
}

.header__home {
  display: inline-block;

  @include focus-visible($pale-green);
}
