@use "../abstracts" as *;

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/** 
 * Making sure it inherits 100% of the 
 * user font size settings 
 */
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgb(22, 95, 204);
  color: rgb(242, 242, 242);
}

::-moz-selection {
  background-color: rgb(22, 95, 204);
  color: rgb(242, 242, 242);
}

/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

body {
  background: $very-dark-blue url("../images/mobile/image-host.jpg")
    no-repeat center center/cover;
  color: $light-grayish-blue;
  font: 300 #{rem(15)}/ 1.6 "Chivo", sans-serif;
  background-blend-mode: multiply;

  @include breakpoint-up("tiny") {
    background-image: url("../icons/bg-pattern-dots.svg"),
      url("../images/tablet/image-host.jpg");
    background-position: bottom left, top right;
    background-size: initial;
    padding-bottom: rem(160);
    font-size: rem(18);
    background-blend-mode: initial;
  }

  @include breakpoint-up("very-small") {
    background: $very-dark-blue;
    padding: rem(130) 0;
  }

  @include breakpoint-up("small") {
    padding: rem(130) 0 rem(130) rem(160);
  }

  @include breakpoint-up("medium") {
    padding-right: 0;
  }
}

h1 {
  line-height: 1.45;
  font-weight: 300;

  @include breakpoint-up("very-small") {
    line-height: 1.2;
  }
}

p {
  font-size: 1em;
}

noscript {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
  padding: rem(20);
  width: rem(280);
  font-size: rem(16);
  transform: translate(-50%, -50%);
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  line-height: 1.6;
  font-family: sans-serif;
  font-weight: 400;
}

/**
 * Style Broken Images
 * 
 * Make it looks good even when the image doesn't load
 * Source: https://bitsofco.de/styling-broken-images/
 */
img::before {
  content: "We're sorry, the image below is broken.";
  display: block;
  margin-bottom: 0.625rem;
}

img::after {
  content: "(url: " attr(src) ")";
  display: block;
  font-size: 0.75rem;
}

/** 
 * Avoid overloading a user with 
 * sound from a video that 
 * autoplays when the page is loaded.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#hide-autoplay-videos-that-arent-muted
 */
video[autoplay]:not([muted]) {
  display: none;
}

/**
 * Set font-size on Form Elements for a 
 * Better Mobile Experience
 *
 * To avoid mobile browsers (iOS Safari,
 * et al.) from zooming in on HTML form 
 * elements when a <select> drop-down is
 * tapped, add font-size to the selector
 * rule.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#set-font-size-on-form-elements-for-a-better-mobile-experience
 */
input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 1rem;
}

/** 
 * Using currentColor to inherit the 
 * color value 
 */
svg path {
  fill: currentColor;
}

/** 
 * Set "display: none" on Line Breaks 
 * Used as Spacing 
 */
br + br {
  display: none;
}

.skip-content {
  display: inline-block;
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: 200;
  background-color: $dark-grayish-blue;
  padding: 1em 2em;
  text-decoration: 0.1em solid;
  color: $pale-green;
  font-size: 1.25rem;
  font-weight: 700;
  transform: translateX(-200%);
}

@media (prefers-reduced-motion: no-preference) {
  .skip-content {
    transition: transform 0.3s ease 0s;
  }
}

.skip-content:focus,
.skip-content:focus-visible {
  outline: 0.2em dashed $pale-green;
  outline-offset: 0.25em;
  transform: translate(0);
}

.hidden {
  visibility: hidden;
  width: 0.0625rem;
  height: 0;
}
