// Default color for set-color() function
$black: rgb(17, 17, 17) !default;

// Colors
$pale-green: rgb(84, 230, 175);
$dark-grayish-blue: rgb(44, 52, 75);
$very-dark-blue: rgb(18, 23, 37);
$white: rgb(255, 255, 255);
$grayish-blue: rgb(90, 102, 138);
$light-grayish-blue: rgb(194, 203, 229);

// Breakpoints
// Note: If the user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 41.875em, // => 670px
  "very-small": 73em, // => 1168px
  "small": 84.375em, // => 1350px
  "medium": 93.75em, // => 1500px
);
$breakpoints-down: (
  "tiny": 41.8125em, // => 669px
  "very-small": 72.9375em, // => 1167px
  "small": 84.3125em, // => 1349px
  "medium": 93.6875em, // => 1499px
);
